/****************************
* This is the CSS for the DST.
* Copy and paste this directly into the CSS textarea on obsidianportal.com
*****************************/


/****************************
* Generic formatting
*****************************/

.ds_victoriana .instructions {
  display: block;
  font-size: 80%;
  font-style: italic;
  margin-bottom: 0.5em;

}

/****************************
* Basic Info
*****************************/

.ds_victoriana .basic_info div {
  display: inline-block;
  width: 30%;
  margin: 0 0.5%;
  overflow: hidden;
}

.ds_victoriana .basic_info span {
  display: inline-block;
  width: 45%;
  margin: 0;
  font-variant: small-caps;
  font-size: 90%;
  vertical-align: bottom;
}

.ds_victoriana .basic_info .dsf {
  display: inline;
  width: auto;
  margin: 0;
  font-variant: normal;
  font-size: 100%;
}

.ds_victoriana .basic_info .name {
  display: block;
  width: auto;
}

.ds_victoriana .basic_info .name span {
  width: auto;
  margin-right: 5px;
}

.ds_victoriana .basic_info .name .dsf {
  font-size: 110%;
  font-weight: bold;
}

/****************************
* Small blocks of data
*****************************/
.ds_victoriana .sidebar {
  width: 250px;
}

.ds_victoriana .sidebar > div {
  clear: both;
}

/****************************
* Chracteristics
*****************************/
.ds_victoriana .characteristics {
  margin-top: 30px;
}

.ds_victoriana .characteristics .ability_score {
  margin-top: 3px;
}

.ds_victoriana .characteristics .abilities_block {
  display: inline-block;
  margin-right: 1em;
}

.ds_victoriana .characteristics .ability_score_score {
  display: inline-block;
  border: solid black 1px;
  border-radius: 1em;
  width: 2em;
  text-align: center;
  line-height: 2em;
  vertical-align: middle;

}

.ds_victoriana .characteristics .ability_score_name {
  display: inline-block;
  line-height: 2em;
  vertical-align: middle; 
  font-variant: small-caps;
  font-size: 90%;
}

.ds_victoriana .characteristics .ability_score_subsection {
  font-size: 80%;
  margin-left: 4em;
  display: table;
}

.ds_victoriana .characteristics .ability_score_subsection_entry {
  display: table-row;
}


.ds_victoriana .characteristics .ability_score_subsection_entry span{
  display: table-cell;
  padding: 0.25em;
  vertical-align: middle;
}

.ds_victoriana .characteristics .ability_score_subsection .ability_score_subsection_name {
  margin-right: 1em;
}

.ds_victoriana .characteristics .ability_score_subsection .ability_score_subsection_score {
  border-left: solid black 1px;
  border-right: solid black 1px;
  border-radius: 0.75em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
}

.ds_victoriana .dice {
  overflow: : hidden;
}

.ds_victoriana .dice .die {
  float: right;
  border: solid black 1px;
  border-radius: 0.2em;
  position: relative;
  height: 40px;
  width: 40px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  margin: 4px;
}

.ds_victoriana .dice .negative {
  background: #aaa;
}

.ds_victoriana .dice .die span {
  position: absolute;
  opacity: 0.7;
  z-index: 2;
}

.ds_victoriana .dice .die .top {
  top: 2px;
  right: 2px;
}

.ds_victoriana .dice .die .bottom {
  bottom: 2px;
  left: 2px;
}

/****************************
* Common Skills 
*****************************/
.ds_victoriana .skills table {
  border: solid black 1px;
  border-collapse: collapse;
}

.ds_victoriana .skills td {
  padding: 0 4px;
}

.ds_victoriana .skill_name {
  font-variant: small-caps;
  font-size: 90%;
  border-left: solid black 1px;
}

.ds_victoriana .skill_attribute {
  font-style: italic;
  font-size: 90%;
}